<a href="https://colab.research.google.com/github/Dakshak-Data/python_p/blob/main/python1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Python is a case sensitive language
print('Hello World')

Hello World

In [1]:
print('salman khan')

salman khan

In [2]:
print(7)

7

In [3]:
print('Hello',1,4.5,True)

Hello 1 4.5 True

In [4]:
print('Hello',1,4.5,True,sep='/')

Hello/1/4.5/True

In [5]:
print('hello')
print('world')

hello
world

In [6]:
print('hello',end='-')
print('world')

hello-world

In [ ]:
#Datatypes

In [7]:
# Integer
print(8)
# 1*10^308
print(1e309)

8
inf

In [8]:
# Decimal/Float
print(8.55)
print(1.7e309)

8.55
inf

In [9]:
# Boolean
print(True)
print(False)

True
False

In [10]:
# Text/String
print('Hello World')

Hello World

In [11]:
# complex
print(5+6j)

(5+6j)

In [12]:
# List-> C-> Array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [13]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [14]:
# Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [ ]:
# Dictionary
print({'name':'Nitish','gender':'Male','weight':70})

In [15]:
# type
type([1,2,3])

list

In [ ]:
#3. Variables
# Static Vs Dynamic Typing
# Static Vs Dynamic Binding
# stylish declaration techniques

In [16]:
# C/C++
name = 'nitish'
print(name)

a = 5
b = 6

print(a + b)

nitish
11

In [17]:
# Dynamic Typing
a = 5
# Static Typing
int a = 5

SyntaxError: invalid syntax (<ipython-input-17-fdf0382d35d2>, line 4)

In [18]:
# Dynamic Binding
a = 5
print(a)
a = 'nitish'
print(a)

# Static Binding
int a = 5

SyntaxError: invalid syntax (<ipython-input-18-2b0bda04f818>, line 8)

In [19]:
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [20]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [ ]:
a=b=c= 5
print(a,b,c)

In [ ]:
#Comments

In [21]:
# this is a comment
# second line
a = 4
b = 6 # like this
# second comment
print(a+b)

10

In [ ]:
#4. Keywords & Identifiers

In [22]:
# Identifiers
# You can't start with a digit
name1 = 'Nitish'
print(name1)
# You can use special chars -> _
_ = 'ntiish'
print(_)
# identiers can not be keyword

Nitish
ntiish

In [ ]:
#User Input

In [23]:
# Static Vs Dynamic
input('Enter Email')

Enter Emailpd.dataanalyst@gmail.com

'pd.dataanalyst@gmail.com'

In [24]:
# take input from users and store them in a variable
fnum = int(input('enter first number'))
snum = int(input('enter second number'))
#print(type(fnum),type(snum))
# add the 2 variables
result = fnum + snum
# print the result
print(result)
print(type(fnum))

enter first number4
enter second number5
9
<class 'int'>

In [ ]:
#6. Type Conversion
#Implicit type conversion, also known as automatic type conversion, happens automatically when the Python interpreter determines
#it's necessary to perform an operation. You, as the programmer, don't explicitly specify the conversion.

In [ ]:
#Implicit vs. Explicit Type Conversion in Python
#Feature	         Implicit Conversion                                                  #	Explicit Conversion
#Definition	Automatic conversion performed by the Python interpreter.	                #Intentional conversion done by the programmer using functions
#Mechanism	Python infers the necessary conversions.                                  #You explicitly specify the desired type
#Control	Less control.	                                                              #More control
#Clarity	Can be less.                                                                 #clear	Makes code more readable
#Error Prevention	Potential for unexpected behavio.r	                                  #Helps prevent errors
#Examples	result = 5 + 5.6 (int to float).	                                            #number = int("123") (string to int)
#When to use	Simple operations, confident in Python's assumptions.	                  #Complex operations, user input, ensuring type compatibility
#Analogy	Ordering a "burger and fries" (assuming defaults).                          #Ordering a "cheeseburger, no onions, sweet potato fries" (being specific)

In [25]:
# Implicit Vs Explicit
# To concatenate the two values as strings:
print(5+5.6)
print(type(5),type(5.6))

print(str(4) + '4')

10.6
<class 'int'> <class 'float'>
44

In [ ]:
# Explicit
# str -> int
#int(4+5j)

# int to str
str(5)

# float
float(4)

In [26]:
#7. Literals

In [27]:
#age = 25  # Integer literal
  # price = 99.99  # Float literal
   #z = 1 + 2j  # Complex literal#

In [28]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [29]:
# binary
x = 3.14j
print(x.imag)

3.14

In [30]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [31]:
a = True + 4   #true integer trated as 1
b = False + 10   #false integer treated as 0

print("a:", a)
print("b:", b)

a: 5
b: 10

In [ ]:
k = None
a = 5
b = 6
print('Program exe')

In [ ]:
8. #Operators

In [ ]:
# Arithmetic
# Relational
# Logical
# Bitwise
# Assignment
# Membership