<a href="https://colab.research.google.com/github/Dakshak-Data/python_p/blob/main/task1_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Write code here
#write your code
ctc = int(input('Enter your anual CTC:'))

if ctc < 5000000:
    salary=ctc*.82
elif ctc<1000000:
    salary=ctc*.72
elif ctc<2000000:
    salary=ctc*.62
else:
    salary=ctc*.52

print("You in hand monthly salary will be-", round(salary/12,2))

Enter your anual CTC:500000
You in hand monthly salary will be- 34166.67

In [ ]:
#Problem 2: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.
#Hint - Sum of all angles is 180 and all angles are positive

In [ ]:
#Problem 1: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:
#Salary(Lakhs) : Tax(%)

#Below 5 : 0%
#5-10 : 10%
#10-20 : 20%
#boove 20 : 30%

In [4]:
first = int(input("1st angle"))
second = int(input("2st angle"))
thirdt =int(input("3st angle"))
if(first+second+thirdt) == 180 and first > 0 and second>0 and thirdt>0:
  print("")
else:

  print("invalid")

1st angle54
2st angle34
3st angle43
invalid

In [ ]:
#Problem 3: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [5]:
# Write code here
# write your code here
cost_price = int(input('Enter cost price-'))
selling_price = int(input('Enter selling price-'))

if cost_price < selling_price:
    print('Profit')
elif cost_price > selling_price:
    print('Loss')
else:
    print('No Loss No Gain')

Enter cost price-4000
Enter selling price-5000
Profit

In [ ]:
#Problem 4: Write a menu-driven program -
#cm to ft
#km to miles
#USD to INR
#exit
#Hint

#1 cm = 0.032ft
#1km = 0.62
#1 USD = 80 INR

In [1]:
# Write code here
menu = input("""
Hi select an option
1. cms to ft
2. km to miles
3. USD to INR
4. Exit
""")

if menu == '1':
  cm = float(input('enter the cm value'))
  print('ft value is',0.032*cm)
elif menu == '2':
  km = float(input('enter the km value'))
  print('miles value is',km*0.62)
elif menu == '3':
  usd = float(input('enter usd'))
  print('inr',usd*80)
else:
  exit()

Hi select an option
1. cms to ft
2. km to miles
3. USD to INR
4. Exit
2
enter the km value34
miles value is 21.08

In [ ]:
#Problem 5 - Exercise 12: Display Fibonacci series up to 10 terms.
#Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it.
#The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34

In [2]:
# Write code here

num1,num2 = 0,1

for i in range(10):
  print(num1)

  next = num1 + num2

  num1 = num2
  num2 = next

0
1
1
2
3
5
8
13
21
34

In [ ]:
#Problem 6 - Find the factorial of a given number.
#Write a program to use the loop to find the factorial of a given number.

#The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

#For example: calculate the factorial of 5

In [3]:
# Write code here
num = int(input('enter the number'))

fact = 1
for i in range(1,num+1):
  fact = fact*i

print(fact)

enter the number34
295232799039604140847618609643520000000

In [ ]:
#Problem 7 - Reverse a given integer number.

In [5]:
# Write code here
number = int(input('enter the number'))

rev = 0

while number>0:
  last = number%10 #return last value
  rev = rev*10 + last
  number = number//10  # remove one value from numner last value

print(rev)

enter the number234455
554432

In [6]:
# Write code here
number = int(input('enter the number'))

rev = 0

while number>0:
  last = number%10
  rev = rev*10 + last
  number = number//10

print(rev)

enter the number232323
323232

In [ ]:
#Problem 8: Take a user input as integer N. Find out the sum from 1 to N.
#If any number if divisible by 5, then skip that number. And if the sum is greater than 300,
#don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

In [7]:
# Write code here
N = int(input('enter the number'))
sum = 0
i = 1

while i < N+1:
  if i % 5 == 0:
    i+=1
    continue

  sum += i

  if sum > 300:
    sum = sum - i
    break

  i+=1

print(sum)

enter the number34
276

In [ ]:
#Problem 9: Write a program that keeps on accepting a number from the user until the user enters Zero.
#Display the sum and average of all the numbers.

In [9]:
3# Write code here
sum = 0
count = 0

while True:
  num = int(input('enter number'))
  if num == 0:
    break
  sum = sum + num
  count = count + 1

print('sum',sum)
print('avg',sum/count)

enter number345
enter number43
enter number6543
enter number43
enter number43
enter number0
sum 7017
avg 1403.4

In [ ]:
#Problem 9: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
#between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single lin

In [10]:
# Write code here
L = []
for i in range(2000,3201):
  if i % 7 == 0 and i % 5 != 0:
    L.append(str(i))

print(",".join(L))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [ ]:
#Problem 10: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the
#number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [11]:
# Write code here
L = []
for i in range(1000,3001):
  flag = True

  curr = i

  while curr > 0:
    last = curr%10
    if last % 2 != 0:
      flag = False
      break
    curr = curr//10

  if flag == True:
    L.append(str(i))

print(",".join(L))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [ ]:
#roblem 11: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
#The trace of robot movement is shown as the following:

In [15]:
# Write code here
pos = [0,0]
while True:
  s = input('Enter the robot path')
  if s == '!':
    break
  direction = s.split()[0]
  steps = int(s.split()[1])

  if direction == 'UP':
    pos[1] = pos[1] + steps
  elif direction == 'DOWN':
    pos[1] = pos[1] - steps
  elif direction == 'LEFT':
    pos[0] = pos[0] - steps
  elif direction == 'RIGHT':
    pos[0] = pos[0] + steps
  else:
    pass

print('new pos',pos)
print((pos[0]**2 + pos[1]**2)**0.5)

Enter the robot path12

IndexError: list index out of range

In [ ]:
#Problem 12:Write a program to print whether a given number is a prime number or not

In [16]:
# Write code here
num = int(input('enter the num'))

flag = True
for i in range(2,num):
  if num%i == 0:
    flag = False
    break

if flag == True:
  print('Prime')
else:
  print('Not Prime')

enter the num43
Prime

In [ ]:
#Problem 13:Print all the Armstrong numbers in a given range.
##Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [17]:
# Write code here
start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))

for num in range(start, end+1):
    temp = num
    sum = 0
    order = len(str(num))
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
    if num == sum:
        print(num)

Enter the start of the range: 432
Enter the end of the range: 234

In [ ]:
##Calculate the angle between the hour hand and minute hand.
#Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the
#final result angle. For example, if the final angle is 10.61, we need to print 10.

#Input:
#Output:
#90
#Explanation:
##The minimum angle between hour and minute hand when the time is 9 is 90 degress.

In [18]:
# Write code here

# Write code here
h = int(input('Enter hours hand-'))
m = int(input('Enter minute hand-'))

# validate the input
if (h < 0 or m < 0 or h > 12 or m > 60):
    print('Wrong input')

# Idea is to minute angle - hour agnle from clockwise from 12 hour point

# 1 minute in minute angle manke 6 degree. (60 minute -> 360 degree)
m_angle = m*6

# every hour point yeilds to 30degree-- 12 hours-360degree plus if minute hand moves hour hands move too
# Every minute after hour hand take 0.5 degree movement. clockwise
h_angle = h*30 + m*0.5

# Take abs difference b/w them
angle = abs(h_angle - m_angle)


if angle>180:
    print(360-angle)
else:
    print(angle)

Enter hours hand-432
Enter minute hand-234
Wrong input
-11313.0

In [ ]:
#Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y
 #coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping.
 # (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).
#Note: It may be assumed that the rectangles are parallel to the coordinate axis#