<a href="https://colab.research.google.com/github/Dakshak-Data/python_p/blob/main/timecompcamp4ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)

enter the number4
4

In [13]:
L = [1,2,3,4]

sum = 0
for i in L:
  sum = sum + i

product = 1
for i in L:
  product = product*i

print(sum,product)

10 24

In [14]:
A = [1,2,3,4]
B = [5,6,7,8]
for i in A:
  for j in B:
    print(i,j)

1 5
1 6
1 7
1 8
2 5
2 6
2 7
2 8
3 5
3 6
3 7
3 8
4 5
4 6
4 7
4 8

In [ ]:
A = [1,2,3,4]
B = [5,6,7,8]

for i in A:
  for j in B:
    for k in range(100):
      print(i,j)

In [15]:
L = [1,2,3,4,5]

for i in range(0,len(L)//2):
  other = len(L) - i -1
  temp = L[i]
  L[i] = L[other]
  L[other] = temp

print(L)

[5, 4, 3, 2, 1]

In [16]:
n = 10
k = 0;
for i in range(n//2,n):
  for j in range(2,n,pow(2,j)):
        k = k + n / 2;

print(k)

35.0

In [17]:
a = 10
b = 3

if b <= 0:
  print(-1)
div = a//b

print(a-div-b)

4

In [18]:
n = 345

sum = 0
while n>0:
  sum = sum + n%10
  n = n // 10

print(sum)

12

In [19]:
def fib(n):
  if n == 1 or n == 0:
    return 1
  else:
    return fib(n-1) + fib(n-2)

In [ ]:
# Subset Algo

In [ ]:
  # {3T(n-1) if n>0
#T(n) = {1, otherwise

In [ ]:
     #  {2T(n-1)-1 if n>0
#T(n) = {1, otherwise